html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ! code starting */
@font-face {
  font-family: "deca";
  src: url("../assets/fonts/deca.ttf");
}

body {
  --text-color: #232340;
  --main-color: #f5f5f5;
  --secondary-color: #5468e780;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: "deca" Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "deca";
  src: url("../assets/fonts/deca.ttf");
}

.main-container {
  max-width: 1160px;
  width: 100%;
  min-height: 52px;
  display: flex;
}
.logo-section {
  height: 52px;
  width: 50%;
}

.info-section {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.info-section a {
  color: var(--text-color);
  height: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 11.5px;
}
.button-container {
  width: 184px;
  height: 100%;
  border-radius: 4px;
  background-color: var(--secondary-color);
  border-style: none;
}

.info-section p {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--text-color);
}
